#convo {
  div.scroll {
    display: block;
    width: 100%;
    padding: 15px 20px 0;
  }
  div.chatlog {
    div.chat-row {
      display: block;
      position: relative;
      width: 100%;
      div.bubble {
        max-width: 100%;
        min-height: 45px;
        display: inline-block;
        button {
          display: block;
          width: 100%;
          height: 35px;
          color: white;
          background: $green1;
          margin-top: 5px;
          outline: 0;
          border: 0;
        }
        &.left {
          float: left;
          padding: 15px;
          margin: 5px;
          border: 0;
          color: rgba(0,0,0,0.5);
          background: #ddd;
          -webkit-border-radius: 5px;
          -moz-border-radius: 5px;
          border-radius: 5px;
          &:before {
            top: 15px;
            bottom: auto;
            left: -15px;
            border-width: 15px 30px 15px 0;
            border-color: transparent #ddd;
          }
        }
        &.right {
          float: right;
          padding: 15px;
          margin: 5px;
          border: 0;
          color: #fff;
          background: $blue2;
          -webkit-border-radius: 5px;
          -moz-border-radius: 5px;
          border-radius: 5px;
          div.row {
            height: 35px;
            div[class*="col-"] {
              height: 100%;
            }
          }
          img {
            max-width: 100%;
          }
          span.title {
            @extend %centerAll;
            padding: 0 5px;
          }
          &:before {
            top: 15px;
            bottom: auto;
            left: auto;
            right: -15px;
            border-width: 15px 0 15px 30px;
            border-color: transparent $blue2;
          }
        }
        &:before {
          content: "";
          position: absolute;
          bottom: -20px;
          left: 40px;
          border-width: 20px 20px 0;
          border-style: solid;
          border-color: $blue2 transparent;
          display: block;
          width: 0;
        }
      }
    }
  }
}
#message-footer {
  background: $blue2;
  height: 50px;
  color: $green1;
  padding: 0;
  div[class*="col-"] {
    height: 100%;
  }
  .col-15 {
    display: block;
    -webkit-flex: 0 0 15%;
    -moz-flex: 0 0 15%;
    flex: 0 0 15%;
    max-width: 15%;
    height: 100%;
  }
  i, span {
    @extend %centerAll;
    text-align: center;
  }
  i {
    font-size: 32px;
  }
  span {
    font-size: 16px;
  }
  input.message-box {
    width: 90%;
    height: 65%;
    border-radius: 5px;
    @extend %centerAll;
    padding: 5px;
    color: rgba(0,0,0,0.65);
  }
}
#right-menu {
  .modal-header {
    h1.title {
      color: $green1;
    }
    button.modal-exit {
      @extend %centerY;
      position: absolute;
      right: 0;
      background: transparent;
      border: 0;
      outline: 0;
      color: white;
      font-size: 18px;
    }
  }
  #attachment {
    .list {
      margin: 0;
      color: rgba(0,0,0,0.65);
      .item {
        position: relative;
        i.social-icon {
          font-size: 25px;
          @extend %centerY;
          position: absolute;
          right: 15px;
          width: 25px;
          height: 25px;
          color: $blue2;
        }
        span.title {
          display: block;
          font-size: 1rem;
        }
        span.desc {
          display: block;
          font-size: 0.8rem;
        }
        &.message-item {
          min-height: 70px;
        }
      }
    }
  }
}
