#ongoing {
  .tab-nav {
    text-align: center;
    background: $blue2;
    height: 50px;
    border-top: 3px solid $blue1;
    padding: 0;
    position: fixed;
    top: 0;
    a.tab-item {
      display: inline-block;
      height: 100%;
      width: 50%;
      max-width: initial;
      border: 0;
      padding: 0;
      background: $blue2;
      color: #ddd;
      text-transform: uppercase;
      font-size: 11px;
      opacity: 1;
      -moz-box-shadow:    inset 0 0 10px rgba(0,0,0,0.5);
      -webkit-box-shadow: inset 0 0 10px rgba(0,0,0,0.5);
      box-shadow:         inset 0 0 10px rgba(0,0,0,0.5);
      &.tab-item-active {
        background: $blue1;
        color: white;
        font-weight: bold;
      }
    }
  }
  #ongoing-tab, #upcoming-tab {
    top: 50px;

    .item {

      position: relative;
      padding-bottom: 45px;

      .title { }
      .desc { }
      .subinfo { 

        font-size: 10px;

        span { 

          display: inline-block; 
          border-left: 1px solid #626e79; 
          border-right: 1px solid #6d767f; 
          line-height: 12px;
          text-align: left;
          padding: 0px 10px;
        }

        .category { color: #404f5c; padding-left: 0px; border-left: 0px; }
        .user { color: #49bba6; }
        .region { color: #404f5c; }
        .price { color: #f77f70; }

      }

      .actions { 

        position: absolute; 
        bottom: 0px;
        width: 100%;

        button { color: white; font-size: 13px; text-align: center; width: 40%; padding: 10px; }

        .started { background-color: #b2b2b2; border: 1px solid #c2bfbd; }
        .ended { background-color: $red1; border: 1px solid #cc1212;  }
       
      }

    }
  }
  div.list {
    margin: 0;
    a.message-item {
      display: inline-block;
      position: relative;
      width: 100%;
      height: 100%;
      span.title {
        display: block;
        overflow: hidden;
        width: 90%;
        padding: 0;
        text-align: left;
        font-size: 14px;
        color: $blue2;
        font-weight: bold;
      }
      span.desc {
        display: block;
        width: 90%;
        padding: 0;
        text-align: left;
        font-size: 14px;
        color: rgba(0,0,0,0.75);
        font-size: 12px;
        margin-bottom: 3px;
        white-space: normal;
      }
      span.price {
        color: rgba(0,0,0,0.5);
      }
      div.flags {
        display: block;
        margin-bottom: 3px;
        & > div {
          font-size: 9px;
          display: table-cell;
          padding: 0 6px;
          color: white;
        }
        .onsale {
          background: $blue3;
        }
        .offerspending {
          background: $red2;
        }
        .finalday {
          background: $blue1;
        }
        .urgent {
          background: $blue3;
        }
        .discounted {
          background: $green1;
        }
      }
      img.icon {
        @extend %centerY;
        position: absolute;
        left: 20px;
        height: 35px;
      }
      i.chevron {
        @extend %centerY;
        position: absolute;
        right: 15px;
        height: 24px;
        font-size: 24px;
        color: $green1;
      }
    }
  }
  div.subtitle {
    text-align: center;
    text-transform: uppercase;
    color: $blue2;
    height: 35px;
    font-size: 11px;
    span {
      @extend %centerY;
    }
  }
}
