<ion-nav-view name="Home">
  <ion-content id="home">
    <div class="wrapper">
      <div class="subtitle menu-drop" ng-if="!subnavHidden" ng-hide="subnavHidden">
        <span>Please select a Category</span>
      </div>
      <div class="list" id="categoryList" ng-hide="categoriesHidden">
        <button ng-repeat="category in categories" class="card item" ng-click="goToCategory(category)">
          <div class="ink dark-bg">
              <img class="full-image" ng-src="images{{category.path}}.png">
          </div>
        </button>
      </div>
    </div>
  </ion-content>
</ion-nav-view>
